<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserMapper">

    <sql id="baseColumn">
        id,name,age,address
    </sql>

    <select id="selectUser">
        select
        <include refid="baseColumn"/>
        from t_user
        <where>
            <if test="name!=null">and name = #{name}</if>
            <if test="age!=null">and age = #{age}</if>
            <if test="address!=null">and address = #{address}</if>
            <!-- 如果判断某个字段是否等于 单个字符的字符串,需要写.toString()  -->
            <if test="xxx != null and xxx == '1'.toString()">and xxx = #{xxx}</if>
            <if test="bbb != null and bbb == 'b'.toString()">and bbb = bbb</if>
        </where>
    </select>
</mapper>